table.stats_table{
  width: 100%;
  border: 1px solid black;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

table td{
  text-align: center;
  border-right: 1px solid black;  
}

table tr{
  border-bottom: 1px solid black;
}

#county_search{
  width: 25%;
  display: inline;
}
#credit_bloc{
  width: 80%;
}
#header_comp{
  width: 100%;
}
ul.term_list{
  width: 40%;
  margin: 0px;
}

ul.term_list li{
  padding: 20px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

div.bloc{
  background-color: #ededed;
}

div.general_notes_bloc{
  background-color: #ebebeb;
}

div.general_notes_bloc li{
  background-color: #ececec;
}

